html {
   scroll-behavior: smooth;
}

body {
   background: #000;
   /* height: 200vh; */
   /* height: 198vh; */
   height: 196vh;
   display: grid;
   place-items: center;
   /* margin: 0; */
   /* padding: 0; */
}

.start-button {
   background-color: red;
   height: 100px;
   width: 300px;
   border-radius: 15px;
   color: white;
   font-size: 25px;
   font-weight: 600;
   cursor: pointer;
   /* position: absolute; */
   /* top: 120px; */
   z-index: 500;
}

/* .intro-banner {
   z-index: 100;
   } */
   
.scene-bg {
   position: absolute;
   top: 100vh;
   width: 100vw;
}

.scene-sky {
   background-color: #009cff;
   height: 40vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   position: absolute;
   top: 0px;
   left: 0px;
   z-index: 20;
}

.clouds {
   position: absolute;
   width: 120px;
   height: 70px;
   border-radius: 40%;
   top: 50px;
   left: 150px;
   box-shadow:
   10px 125px white,
   200px 75px white,
   600px 25px white,
   850px 125px white;
   animation: rolling-clouds 5s infinite alternate;
   /* clip-path: circle(49.3% at 63% 50%); */
}

@keyframes rolling-clouds{
   from {
      box-shadow:
      10px 105px white,
      200px 75px white,
      600px 25px white,
      850px 125px white;
   }
   to {
      box-shadow:
      210px 50px white,
      400px 75px white,
      800px 15px white,
      1050px 125px white;
   }
}

.scene-grass {
   background: #74ac00;
   position: absolute;
   height: 60vh;
   top: 40vh;
   left: 0px;
   width: 100vw;
   z-index: 10;
}

.mailbox {
   position: absolute;
   text-align: center;
   width: 200px;
   height: 75px;
   top: 325px;
   /* left: 300px; */
   right: 0px;
   border-radius: 22% 22% 0% 0% / 27% 27% 0% 0% ;
   background-color: #3c3c3c;
   z-index: 100;
}         
.mailbox:hover {
   animation-name: mailbox-appears;
   animation-iteration-count: 1;
   animation-duration: 7s;
}

@keyframes mailbox-appears {
   from {
      right: 0px;
   }
   to {
      right: 400px;
   }
}

