body {
   font-family: "Open Sans", sans-serif;
   font-weight: 400;
   font-size: 0.875rem; /* this is the equivalent of 14px */
   line-height: 1.6;
   letter-spacing: 0;
   margin: 0;
   padding: 0;
   position: relative;
}

.mailbox {

}