html {
   scroll-behavior: smooth;
}

body {
   background: #000;
   height: 196vh;
   display: grid;
   place-items: center;
}

.start-button {
   background-color:#ff0000;
   height: 100px;
   width: 300px;
   border-radius: 15px;
   color: #fff;
   font-size: 25px;
   font-weight: 600;
   cursor: pointer;
   z-index: 500;
}

/* .intro-banner {
   z-index: 100;
   } */
   
.scene-bg {
   position: absolute;
   top: 100vh;
   width: 100vw;
}

.scene-sky {
   position: absolute;
   background-color: #009cff;
   height: 40vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   top: 0px;
   left: 0px;
   z-index: 20;
}

.clouds {
   position: absolute;
   height: 70px;
   width: 120px;
   border-radius: 40%;
   top: 50px;
   left: 150px;
   box-shadow:
   10px 125px #fff,
   300px 55px #f0f0f0,
   550px 25px #e0dee0,
   850px 125px #fff;
   animation: rolling-clouds 5s infinite alternate;
}

@keyframes rolling-clouds{
   from {
      box-shadow:
      10px 105px #fff,
      300px 55px #f0f0f0,
      550px 25px #e0dee0,
      850px 125px #fff;
   }
   to {
      box-shadow:
      210px 50px #fff,
      500px 115px #f0f0f0,
      800px 15px #e0dee0,
      1050px 125px #fff;
   }
}

.scene-grass {
   background: #74ac00;
   position: absolute;
   height: 60vh;
   width: 100vw;
   top: 40vh;
   left: 0px;
   z-index: 10;
}

.mb-container {
   position: absolute;
   height: 225px;
   width: 200px;
   top: 275px;
   right: 0px;
   opacity: 0;
   z-index: 101;
   animation: mb-fade-in 10s 1 5s forwards, mailbox-slide-left 5s 10s 1 forwards;
   /* animation: mb-fade-in 7s 1 4s forwards, mailbox-slide-left 5s 10s 1 forwards; */
   /* border: 2px solid red; */
}

@keyframes mb-fade-in {
   0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes mailbox-slide-left {
   from {
      right: 0px;
   }
   to {
      right: 700px;
      /* right: 500px; */
   }
}

.mailbox {
   position: absolute;
   text-align: center;
   height: 75px;
   width: 200px;
   border-radius: 22% 22% 0% 0% / 27% 27% 0% 0% ;
   background-color: #3c3c3c;
   z-index: 100;
   /* border: 2px solid #fb68ff; */
}

.mailbox::after {
   content: "";
   position: absolute;
   height: 150px;
   width: 25px;
   top: 73px;
   background-color: #3c3c3c;
   border: 2px solid black;
}

.mb-frame {
   position: absolute;
   top: 14px;
   height: 56px;
   width: 198px;
   border-radius: 8%;
   border: 2px solid black;
}

.envelope-container {
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 312px;
   width: 705px;
   bottom: -469px;
   right: 444px;
   opacity: 0;
   /* z-index: 100; */
   z-index: 555;
   animation: envelope-fade-in 8s 1 15s forwards;
   /* border: 2px solid blue; */
}

@keyframes envelope-fade-in {
   0% { opacity: 0; }
  100% { opacity: 1; }
}

.envelope {
   height: 75px;
   width: 204px;
   bottom: 238px;
   background-color: #f0f0f0;
   z-index: 555;
   animation: 
      envelope-grow 7s 1 20s forwards,
      envelope-rotateY 4s 1 28s forwards;
   border: 2px solid green;
}

@keyframes  envelope-grow {
   from {
      height: 75px;
      width: 204px;
   }
   to {
      height: 300px;
      width: 700px;
   }
}

@keyframes envelope-rotateY {
   from {
      transform: rotateY(0deg);
   }
   to {
      transform: rotateY(360deg);
   }
}

.return-address {
   position: relative;
   font-size: 8px;
   left: 17px;
   animation: return-address-grow 5s 1 20s forwards;
}

@keyframes return-address-grow {
   from {
      font-size: 8px;
   }
   to {
      font-size: 32px;
   }
}

.mailing-address {
   position: relative;
   font-size: 8px;
   left: 74px;
   animation: mailing-address-grow 5s 1 20s forwards;
}

@keyframes mailing-address-grow {
   from {
      font-size: 8px;
      left: 74px;
   }
   to {
      font-size: 32px;
      left: 250px;
   }
}


